aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
attrs==24.3.0
deprecation==2.1.0
ffmpeg-python==0.2.0
frozenlist==1.5.0
future==1.0.0
idna==3.10
multidict==6.1.0
ntgcalls==1.2.3
packaging==24.2
propcache==0.2.1
psutil==6.1.1
py-tgcalls @ git+https://github.com/pytgcalls/pytgcalls@7974362686cbf8944a49ff047b63b100fd47a21e
pyaes==1.6.1
pyrogrammod @ git+https://github.com/pyrogrammod/pyrogrammod@b158b28f8afa863a19640d67842d9d075e0a232f
PySocks==1.7.1
python-decouple==3.8
python-dotenv==1.0.1
screeninfo==0.8.1
TgCrypto==1.2.5
uvloop==0.21.0
yarl==1.18.3
